/* Base */
* { box-sizing: border-box; }

* {
  scroll-behavior: smooth;
  font-family: "Raleway", "sans-serif";
}

:root {
    --lightblue: #DEEBFF;
    --blue: #0065FC;
    --grey: #F2F2F2;
  }

  .bluestar {
    color: var(--blue);
  }
  
  .greystar {
    color: var(--grey);
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  #logo{
    width: 120px;
    margin-top: 20px;
  }

  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
  }
  
  nav > a {
    text-decoration: none;
    color: inherit;
    
  }
  
  nav > a:hover {
    color: var(--blue);
  }
  
  nav > a:visited:hover {
    color: var(--blue);
  }
  
  nav > a:visited {
    color: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    color: black;
    background-color: white;
  }
  
  /* Description */
  #description {
    margin-top: 30px;
  }
  
  #description > div {
    margin-bottom: 20px;
  }
  
  #description p {
    font-size: 14px;
  }
  
  /* Formulaire */
  #searchform {
    height: 45px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--grey);
  }
  
  #searchform * {
    border: none;
    font-size: 100%;
  }
  
  #searchform button:hover {
    cursor: pointer;
  }
  
  #searchbar {
    padding-left: 3%;
    font-weight: bold;
  }
  
  /* Filtres */
  #searchfilters h2 {
    width: 10%;
    font-size: 100%;
  }
  
  #filters button {
    border: 2px solid var(--grey);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-weight: bold;
    transition-duration: 750ms;
  }
  
  .buttonFilter {
    background-color: white;
    padding: 0;
    padding-right: 10px;
  }
  
  
  #filters button:nth-child(1) {
    width: 145px;
  }
  
  #filters button:nth-child(2) {
    width: 125px;
  }
  
  #filters button:nth-child(3) {
    width: 145px;
  }
  
  #filters button:nth-child(4) {
    width: 190px;
  }
  
  #filters button:hover {
    cursor: pointer;
    background-color: var(--lightblue);
  }
  
  #filters button i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    border-radius: 30px;
    border: 2px var(--lightblue) solid;
    background-color: var(--lightblue);
    color: var(--blue);
  }
  
  /* Disponibilités */
  #disponibilite {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .fa-info {
    margin-right: 5px;
    padding: 5px 8px;
    border: var(--grey) 2px solid;
    border-radius: 25px;
    color: var(--blue);
    font-size: 75%;
  }
  
  .elemPhoto {
    overflow-y: hidden;
  }
  
  /* Les plus populaires */
  #popular {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    background-color: var(--grey);
  }
  
  #popularTitle {
    height: 10%;
  }
  
  #popularTitle h2 {
    display: flex;
    justify-content: space-between;
  }
  
  #popularList > * {
    color: black;
    text-decoration: none;
  }
  
  #popularList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #popularList a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popularElem {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
  }
  
  .popularElem:hover {
    box-shadow: 0 0 10px var(--blue);
  }
  
  .popularElem .elemPhoto {
    width: 40%;
    border-radius: 20px 0 0 20px;
  }
  
  .popularElem .elemText {
    width: 55%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .popularElem .elemNamePrice * {
    margin: 0;
  }
  
  /* Hébergement */
  #hostingList > * {
    color: black;
    text-decoration: none;
  }
  
  .hostingElem {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    
  }
  
  .hostingElem:hover {
    box-shadow: 0 0 10px var(--blue);
  }
  
  .hostingElem .elemPhoto {
    height: 70%;
    border-radius: 20px 20px 0 0;
  }
  
  .hostingElem .elemText {
    padding-left: 10px;
    
  }
  
  .hostingElem .elemNamePrice h3 {
    margin-bottom: 0;
    
  }
  
  .hostingElem .elemNamePrice p {
    margin-top: 0;
  }
  
  #show_more {
    text-decoration: none;
    color: inherit;
  }
  
  #show_more:hover {
    text-decoration: underline;
  }
  
  /* Activités */
  #activitiesList * {
    color: black;
    text-decoration: none;
  }
  
  .activityElem {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
  }
  
  .activityElem h3 {
    height: 10%;
    font-size: 100%;
    padding-left: 20px;
  }
  
  /* Footer */
  footer {
    position: relative;
    bottom: 0;
    background-color: var(--grey);
  }
  
  footer section {
    justify-content: center;
    flex: 1;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
    
  footer a {
    color: inherit;
    text-decoration: none;
  }
    
  footer a:hover {
    text-decoration: underline;
  }
    
  footer a:visited {
    color: inherit;
  }
  
  li {
    line-height: 2;
  }
  
  /* Responsive */
  /* Ordi */
  @media screen and (min-width: 992px){
    h1 {
      margin-top: 0;
    }
    
    nav {
      display: flex;
      justify-content: space-evenly;
      bottom: 0;
      width: 250px;
    }
  
    nav > a {
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-top: 2px white solid;
    }
  
    nav > a:hover {
      border-top: 2px var(--blue) solid;
    }
  
    main > * {
      padding: 0 3%;
    }
  
    main > section {
      margin-top: 2%;
    }
  
    #pageTitle * {
      margin: 0;
      line-height: 1.5;
    }
  
    #searchform {
      width: 525px;
    }
  
    #localisation {
      width: 50px;
    }
  
    #searchbar {
      width: 300px;
    }
  
    #searchbutton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 175px;
      background-color: var(--blue);
      color: white;
      font-weight: bold;
    }
  
    #searchbutton_loupe {
      display: none;
    }
  
    #searchfilters {
      width: 75%;
      height: 100%;
      display: flex;
    }
  
    #searchfilters h2 {
      align-self: center;
    }
  
    #filters {
      display: flex;
      justify-content: space-between;
      width: 800px;
    }
  
    #filters button:nth-child(1) {
      margin-left: 15px;
    }
  
    #hosting {
      height: 775px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    
    #hosting > div {
      border-radius: 25px;
    }
    
    #popular {
      width: 30%;
      padding: 0 2%;
    }
    
    #popularList {
      height: 85%;
    }
    
    #popularList a {
      height: 25%;
    }
    
    #all_hosting {
      width: 68%;
      padding: 0 2%;
      background-color: var(--grey);
    }
  
    #hostingList {
      height: 80%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    #hostingList a {
      width: 30%;
      height: 45%;
    }
  
    #activities {
      height: 600px;
      padding-bottom: 20px;
    }
  
    #activitiesList {
      height: 85%;
      display: flex;
      justify-content: space-between;
    }
  
    #activitiesList > * {
      width: 22.5%;
      height: 100%;
    }
  
    #activity_fort_iles_parc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    #activity_fort_iles_parc a:nth-child(1) {
      height: 50%;
    }
  
    #activity_fort_iles_parc a:nth-child(2) {
      height: 40%;
    }
  
    #double_activity {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    #double_activity a:nth-child(1) {
      height: 45%;
    }
  
    #double_activity a:nth-child(2) {
      height: 45%;
    }
  
    .activityElem:hover {
      box-shadow: 0 0 10px var(--blue);
    }
  
    #activitiesList > a > .activityElem .elemPhoto {
      height: 90%;
    }
  
    footer {
      display: flex;
      justify-content: space-between;
    }
  }

   /* écrans < 992px */
   @media screen and (max-width: 991px) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  
    #logo {
      text-align: center;
    }
  
    nav {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    nav > a {
      width: 50%;
      margin-bottom: -2px;
      padding: 10px 0;
      border-bottom: 2px var(--grey) solid;
    }
  
    nav > a:hover {
      border-bottom: 2px var(--blue) solid;
    }
  
    main > section > * > * {
      padding: 0 2%;
    }
  
    main > section > * {
      padding: 0 3%;
    }
  
    #disponibilite {
      display: flex;
      flex-direction: column;
    }
  
    #pageTitle h1 {
      margin-bottom: 10px;
    }
  
    #pageTitle p {
      margin: 0;
    }
  
    #disponibilite > div:nth-child(2) {
      margin-top: 10px;
      margin-bottom: 20px;
      align-self: center;
    }
  
    #searchform {
      padding: 0;
    }
  
    #localisation {
      width: 60px;
    }
  
    #searchfilters {
      display: flex;
      flex-direction: column;
    }
  
    #filters {
      width: 100%;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
  
    #filters button {
      height: 45px;
      margin: 5px;
    }
  
    #popular {
      height: 600px;
      padding-bottom: 10%;
    }
  
    #popularList {
      height: 90%;
    }
  
    #popularList a {
      height: 27.5%;
    }
  
    #all_hosting {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    #hostingList {
      height: 90%;
      padding-right: 5%;
    }
  
    .hostingElem {
      box-shadow: 0 0 10px grey;
    }
  
    #activities {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;
    }
  
    #activities h2 {
      height: 5%;
    }
  
    #activitiesList {
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    #activitiesList > a {
      height: 16%;
      margin-bottom: 20px;
    }
  
    #activitiesList > div {
      height: 32%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    #activitiesList > div a {
      height: 50%;
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      box-shadow: 0 0 10px grey;
      overflow: hidden;
    }
  
    .activityElem:hover {
      box-shadow: 0 0 10px var(--blue);
    }
  
    #activitiesList > a > .activityElem .elemPhoto {
      height: 90%;
    }
  
    footer {
      padding: 0 3%;
    }
  }
  
  /* Tablette */
  @media screen and (min-width: 768px) and (max-width: 991px)  {
   
    #description > div:nth-child(2) {
      width: 500px;
      display: flex;
    }
  
    #searchbar {
      width: 320px;
    }
  
    #searchbutton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      border-radius: 15px;
      background-color: var(--blue);
      color: white;
      font-weight: bold;
    }
  
    #searchbutton_loupe {
      display: none;
    }
  
    #all_hosting {
      height: 1200px;
    }
  
    #hostingTitle {
      height: 5%;
    }
  
    #all_hosting > div:nth-child(3) {
      height: 5%;
    }
  
    #hostingList {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    #hostingList a {
      width: 45%;
      height: 30%;
    }
  
    #activities {
      height: 2200px;
    }
  
    footer {
      display: flex;
      justify-content: space-between;
    }
  }
  
  /* Portable */
  @media screen and (max-width: 768px) {
    #logo {
      height: 75px;
    
    }
  
    #filters > div:nth-child(2) {
      display: flex;
      justify-content: center;
    }
  
    #searchbutton {
      display: none;
    }
  
    #searchbutton_loupe {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      border-radius: 15px;
      background-color: var(--blue);
      color: white;
      font-weight: bold;
    }
  
    #popular {
      background-color: var(--grey);
    }
  
    #all_hosting {
      height: 1600px;
    }
  
    #all_hosting h2, #all_hosting h3 {
      height: 5%;
    }
  
    #hostingList {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    #hostingList a {
      height: 15%;
    }
  
    #activities {
      height: 1600px;
    }
  
    footer {
      display: flex;
      flex-direction: column;
    }
  }
